
body {
    font-family:Arial, sans-serif;
    background-color: white;
    margin:0;
    padding:0;
}


h1 {  
    color: white;
    margin-left: 0;
    padding: 0 0 0 65px;
   }

h4 {
color: white;
margin left: 0;
padding: 0 0 0 65px;
}



.container {
     margin: 0 auto;
     width: 90%;
     clear: both;
}

.header {
     background-image: url("havet.jpg");
     width: 100%;
     height: 70%;
     padding: 20px 0 20px 0; 
     text-align: left;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     margin: 2% 0%;
}

.nav{
    height: 40px;       
    background-color: #595959; 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li{
     list-style: none;
     float: left; 
         
}

.nav ul li a:link, .nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-right: 1px solid #808080;
}

.nav ul li a:hover{
     background-color: #F0F0E8;
      
}

.nav a:active {
     color: #DDD;
}


a {

text-decoration: none;
}

a:link, a:visited {
color: #CF5C3F;
}

a:hover, a:active{
background-color: #CF5C3F;
color: white;
}


.topcontent {
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1% 5%;
margin-top: 2%;
}

#001 {
padding-top: 1%;
}

.bottom-content {
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1% 5%;
margin: 2% 0 2% 0;

}

div.body{  
    padding: 30px 0 30px 0;
}

.sektioner {
width: 100%;
padding-bottom: 30px;  

}

.sektion{    
     width: 30%;
     margin-right: 3%;
     float: left; 
}


.sektion sektion-tre{
     margin-right: 0;
   
}

img{
     max-width: 100%;
     max-height: auto;
     
   
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.post-info {
font-style: italic;
color: #666;
font-size: 70%;
}

.footer{
    background-color: #474747;
    color: #FFF;
    text-align: center;
    padding: 20px 0 20px 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


.clearfix:before  {content: "", display: table;} 
.clearfix:after {content: "", display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.clearfix {overflow: auto;}
